body {
  margin-top: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

select,
option,
input {
  height: 30px;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

input {
  background-color: #eee;
  padding: 0.5rem 1rem;
}

button {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

progress {
  margin: 0.5rem 0;
}

span {
  text-align: center;
}